.r448azy{height:100%;background-color:#FFF;position:relative;}
.t13fnlvh{margin-bottom:0.5rem;background-color:#1D9FC1;color:#FFF;font-size:2rem;border-bottom:2px solid hsl(192.39999999999998,73.9%,34.8%);}
