.r448azy{min-height:100%;background-color:#FFF;position:relative;}
.t13fnlvh{margin-bottom:0.5rem;background-color:#1D9FC1;color:#FFF;font-size:2rem;border-bottom:2px solid hsl(192.39999999999998,73.9%,34.8%);padding:0.5rem;}@media(min-width:900px){.t13fnlvh{padding:1rem;margin-bottom:1rem;}}
.c1jb3xn8{position:relative;padding:1rem;}@media(min-width:900px){.c1jb3xn8{width:75%;margin:auto;}}
