.r1wmz95o{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding-top:0;padding-bottom:0;}
.iuot4yz{color:#969696;}
