.r14grdvh{position:relative;}
.l1kb8d7x{cursor:pointer;position:absolute;top:0.5rem;right:0.5rem;color:#FFF;background-color:rgba(14,14,44,0.5);font-size:1rem;-webkit-text-decoration:none;text-decoration:none;border-radius:7px;}
