.rrb7702{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}@media(min-width:1200px){.rrb7702{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-flex:0;-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;}}
.l1h5u6t3{text-align:center;}
@media(min-width:1200px){.fxhpiqu{width:60%;margin-left:1rem;}}
.frdvf19{padding-top:1rem;}
.t1l6rnuc{padding-bottom:2rem;}@media(min-width:900px){.t1l6rnuc{padding-bottom:4rem;}}
