@media(min-width:900px){.rotmf42{width:50%;margin-left:auto;margin-right:auto;}}@media(min-width:1200px){.rotmf42{width:40%;}}
.i1mg5wfb{position:relative;}
.fj7125i{position:absolute;left:0;bottom:0;width:100%;padding:1rem;}
